{% extends 'index.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<div class="profile-container">
    <h1>Bonjour, {{ app.user.username }}</h1>
    <p>Email : {{ app.user.email }}</p>
    <a href="{{ path('user_edit_profile') }}">Modifier mon profil</a>
    <a href="{{ path('app_logout') }}" class="logout-button">Se déconnecter</a>
</div>
{% endblock %}
